.formSection {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    padding: 50px 80px;
    border: 1px solid rgba(24, 144, 255, 0.8);
    border-radius: 10px;
    background: rgba(24, 144, 255, 0.1);
    .goSignUp {
      margin-left: 16px;
    }
  }
}
