#oneday-blog-nav {
  height: 65px;
}

#oneday-blog-body {
  width: calc(100% - 160px);
  min-width: 1280px;
  min-height: calc(100% - 130px);
  margin: 0 auto;
  padding: 24px;
  background: #ffffff;
}

#oneday-blog-body-full {
  width: calc(100% - 160px);
  min-width: 1280px;
  max-height: calc(100% - 65px);
  margin: 0 auto;
  padding: 10px;
  background: #ffffff;
  overflow: auto;
}

#oneday-blog-footer {
  text-align: center;
  line-height: 65px;
}
