.wrap {
  .header {
    position: sticky;
    top: -10px;
    z-index: 101;
    border-bottom: 1px solid #d9d9d9;
    background: #fff;
  }

  .article {
    display: flex;
  }

  .create {
    flex: 1;
  }

  .preview {
    width: 620px;
  }

  .divide {
    width: 10px;
    border-left: 1px solid #d9d9d9;

    &:hover {
      resize: horizontal;
      cursor: col-resize;
    }
  }

  .contentPart {
    width: 100%;
    max-height: calc(100% - 130px);
  }
}
