.parsed {
  line-height: 1.5em;

  pre {
    position: relative;
    padding: 5px 10px 10px 30px;
    margin-bottom: 1.5em;

    .first-line {
      text-align: right;

      b {
        color: #657b8390;
      }
    }

    .line-numbers-rows {
      position: absolute;
      left: 4px;

      .line-number {
        color: #657b8390;
      }
    }
  }

  a:hover {
    border-bottom: 1px solid #ff9c6e !important;
  }
}
